.active{
background-color: blue;
}

.gradient-sidebar{
    background: linear-gradient(to bottom, #211A2A 0%, #321178 100%);
}

.sidebar-active{
    background-color: rgba(255, 255, 255, 0.2);
        border-radius: 7.5px;
        /* padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            padding-left: 0.75rem;
            padding-right: 0.75rem; */
}

.sidebar-research-item{

        background-color: rgba(255, 255, 255, 0.2);
        /* White color with 20% opacity */
        border-radius: 7.5px;
      
        
}

